<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WilFitApp.Properties.Settings.WilFitAppConnectionString"
            connectionString="Data Source=LAPTOP-KUFQMU26\SQLEXPRESS;Initial Catalog=WilFitApp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>